language: node_js
sudo: required
notifications:
    email: false
node_js:
- '10'
install:
- npm ci
script:
- npm run build
- 'if [ "$TRAVIS_PULL_REQUEST" != "false" ]; PERCY_TOKEN=PERCY_TOKEN percy-storybook --widths=320,1280 --build_dir=dist; fi'
after_success:
- curl -sSL https://raw.githubusercontent.com/RedHatInsights/insights-frontend-builder-common/master/src/bootstrap.sh | bash -s
env:
    global:
    - REPO="git@github.com:RedHatInsights/insights-frontend-storybook-build"
    - REPO_DIR="insights-frontend-storybook-build"
