nav.sidenav { width: min-content; }

html, body {
    display: block !important;
}

#root { background: #fff !important; }

ul.navigation { background: #fff; }

.pf-c-vertical-nav__item, .navigation-secondary li { list-style-type: none; }