.Ansible svg {
    height: 30px !important;
    margin-left: 20px;
}

.label + .ins-battery {
    margin-left: 20px !important;
}

.pf-c-page-header {
    padding: 50px !important;
}

.ins-c-reboot span {
    margin-left: 20px !important;
    font-size: 18px;
}