@import '~@redhat-cloud-services/frontend-components-utilities/files/Utilities/_variables';

// Misc global styles
a { color: initial; }

.pf-c-button + .pf-c-button { margin-left: 5px; }

.wrapper { display: none; }

pre, code {
    background: #f6f9fc !important;
    border-radius: 10px;
    font-size: 14px;
    padding: 5px;
}

// Storybook Styling
.story {
    &-header {
        border-bottom: 1px solid #eaeaea;
        margin-bottom: 15px;
        div { 
            display: flex;
            flex-direction: column;
        }
    }
    &-title {
        font-size: 2em;
        font-weight: 600;
        margin-bottom: 0 !important;
        line-height: 1.25;
    }
    &-subtitle { font-size: 20px; }
}

.chapter{
    &-header { 
        font-size: 18px;
        margin-top: 15px;
    }
    &-subtitle {
        display: block;
        margin-bottom: 15px;
        color: #a1a8ad;
        font-size: 14px;
        & + hr { display: none; }
    }
    &-h3 {
        font-size: 18px !important;
        font-weight: 400;
    }
}

// Chapter styling
.section {
    &-container{
        display: inline-block;
        width: 100%;
        padding: 40px 15px 15px 15px;
        margin: 15px 0;
        margin-bottom: 50px !important;
        border: 1px solid #ccd6dd;
        border-radius: 10px;
        position: relative;
    }
    &-header {
        position: absolute;
        top: -15px;
        left: 13px;
        background: #fff;
        display: inline-block;
        padding: 0 10px;
        border: 1px solid #ccd6dd;
        border-radius: 3px;
        .section-title {
            color: #898d8d !important;
            margin-bottom: 0 !important;
            padding: 5px;
        }
    }
    &-button-container {
        position: absolute;
        top: -15px;
        right: 15px;
        button { background-color: #fff !important; }
        button.button-active { 
            background-color: #1EA7FD !important;
            color: #fff !important;
        }
    }
    &-subsection { 
        margin-top: 20px;
        margin-bottom: 0 !important;
    }
    &-subsection .section-subsection-title {
        font-weight: 700;
    }

    &-subsection table.propTable {
        text-align: left;
        line-height: 40px;
        border-collapse: separate;
        border-spacing: 0;
        width: 75%;
        margin: 15px 0;
        border-radius: .25rem;
        td, th { padding: 0 30px; }
        thead {
            background: #fafafa;

        }
    }
}

// Markdown Styling
ul li {
    list-style-type: disc;
    ul li { list-style-type: circle; }
}

.markdown-body h1 { display: block; }

// Dashed borders
.section-component-container {
    section[class^="ins-l-"], section[class^="ins-l-"] > * {
        border: 1px dashed;
    }
}

// Chart Styling
.badge-wrapper > a {
    text-decoration: underline;
    color: rgb(0, 123, 186);
}

.ins-c-gauge {
    display: flex;
    justify-content: center;
}

.ins-matrix-chart {
    display: flex;
    justify-content: center;
    svg { overflow: visible; }
}