@import '~@patternfly/react-core/dist/styles/base.css';
@import '~@red-hat-insights/insights-frontend-components/index.css';
@import 'styling/_layout.scss';
@import 'styling/_chrome.scss';
@import 'styling/_nav.scss';