// Import all the partials here
@import '~@patternfly/react-core/dist/styles/base.css';
@import '~@redhat-cloud-services/frontend-components/index.css';
@import 'styling/_layout.scss';
@import 'styling/_chrome.scss';
@import 'styling/_nav.scss';
@import 'styling/components';